
body {
    font-family: verdana;
    background-color: rgba(33, 43, 39, 1);
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    color: rgba(217, 217, 217, 1);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

h4, h5, h6 {
    text-align: left;
}

p, span {
    color: rgba(217, 217, 217, 1);
    font-family: verdana;
    font-size: 16px;
}

a {
    color: rgba(195, 133, 33, 1);
    font-family: verdana;
    font-size: 20px;
}

input {
    color: rgba(0, 0, 0, 1);
    font-family: verdana;
    font-size: 20px;
}

a.button, input.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    color: rgba(195, 133, 33, 1);
    font-family: verdana;
    font-size: 16px;

    background-color: rgba(43, 59, 52, 1);
    display: inline;
    text-decoration: none;
    padding: 0.2cm;

    border: 1px solid rgba(195, 133, 33, 1);
}

a.button.vis_toggle {
    padding: 0.1cm;
}

li.game {
    color: rgba(195, 133, 33, 1);
    list-style-type: none;
    width: 60%;
    margin: 0.5cm auto;
    padding: 0.25cm;
    text-align: center;
    border: 1px solid rgba(195, 133, 33, 1);
}

li.toc-item {
    color: rgba(195, 133, 33, 1);
    list-style-type: none;
}

form.settingsform {
    padding: 0.25cm;
}

div.settings {
    width: 80%;
    color: rgba(195, 133, 33, 1);
    padding: 0.25cm;
    margin: 0.25cm auto;
}

div.setting {
    padding: 0.1cm;
    margin: 0.1cm;

    align-self: flex-start;

    background-color: rgba(43, 59, 52, 1);

    display: flex;
    flex-direction: row;
}

span.settingname {
    align-self: flex-start;
    flex: 2 0 60%;
}

span.settinginput {
    align-self: flex-end;
    flex: 1 0 20%;
}

div.objectdetails {
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

span.objectdetailskey {
    align-self: flex-start;
    text-align: right;
    min-width: 240px;
    margin-right: 10px;
    flex: 0 1 auto;
    font-size: 14px;
}

span.objectdetailsvalue {
    align-self: flex-end;
    flex: 0 1 auto;
    font-size: 14px;
}

div.ledgerbox {
    background-color: rgba(43, 59, 52, 1);
    width: 90%;
    margin: 0.1cm auto;
    padding: 0.1cm;
}

ul.event_list {
    list-style: none;
}

li.eventitem {
    color: rgba(217, 217, 217, 1);
    margin: auto;
}

div.eventdescription {
    padding: 0.01cm;
    display: flex;
    flex-direction: row;
}

span.dateblock {
    align-self: flex-start;
    text-align: right;
    margin-right: 10px;
    min-width: 240px;
    font-family: monospace;
    font-size: 14px;
    flex: 0 1 auto;
}

span.dateblock.war {
    min-width: 100px;
}

span.eventtext {
    align-self: flex-end;
    flex: 0 1 auto;
    font-size: 14px;
}

a.textlink {
    color: rgba(195, 133, 33, 1);
    font-size: 14px;
}
