{% extends "layout.html" %}

{% block body %}
{% if not is_filtered_page %}
<div class="ledgerbox">
    {% if wars %}
    <a href="#wars">War logs</a>
    <ul>
        {% for war in wars %}
        <li class="toc-item"> {{ war.start_date }}{% if war.end_date %} - {{ war.end_date }}{% endif %}: {{ links[war] | safe }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <a href="#events">Country Logs</a>
    <ul>
        {% for country in events %}
        <li class="toc-item">{{ links[country] | safe }}</li>
        {% endfor %}
    </ul>
</div>
<hr>
{% endif %}

<a name="events"></a>

{% for (object, events) in events.items() %}
<div class="ledgerbox">
    {% if not is_filtered_page %}
    <a name=country_{{object.country_id}}></a>
    {% endif %}
    <h2 class="eventlist_header">{{title[object] | safe}}</h2>

    <ul class="event_list">
        {% for (itemname, value) in details[object].items() %}
        <li class="eventitem">
            <div class="objectdetails">
                <span class="objectdetailskey">{{itemname}}:</span> <span class="objectdetailsvalue">{{value|safe}}</span>
            </div>
        </li>
        {% endfor %}
    </ul>

    <div style="text-align: center;"><div><span>
            <a class="button vis_toggle" href={{"#country_{}".format(object.country_id)}} onclick="toggle_visibility('researched_technology');">Technologies</a>
            <a class="button vis_toggle" href={{"#country_{}".format(object.country_id)}} onclick="toggle_visibility('edict');">Edicts</a>
            <a class="button vis_toggle" href={{"#country_{}".format(object.country_id)}} onclick="toggle_visibility('policy');">Policies</a>
            <a class="button vis_toggle" href={{"#country_{}".format(object.country_id)}} onclick="toggle_visibility('tradition');">Traditions</a>
            <a class="button vis_toggle" href={{"#country_{}".format(object.country_id)}} onclick="toggle_visibility('colonization');">Colonizations</a>
            <a class="button vis_toggle" href={{"#country_{}".format(object.country_id)}} onclick="toggle_visibility('army_combat');">Army Combat</a>
            <a class="button vis_toggle" href={{"#country_{}".format(object.country_id)}} onclick="toggle_visibility('fleet_combat');">Fleet Combat</a>
            <a class="button vis_toggle" href={{"#country_{}".format(object.country_id)}} onclick="toggle_visibility('expanded_to_system');">Outposts</a>
            <a class="button vis_toggle" href={{"#country_{}".format(object.country_id)}} onclick="toggle_visibility('leader_recruited');">Leader Recruitment</a>
            <a class="button vis_toggle" href={{"#country_{}".format(object.country_id)}} onclick="toggle_visibility('level_up');">Leader Promotion</a>
            <a class="button vis_toggle" href={{"#country_{}".format(object.country_id)}} onclick="show_all_ledgeritems();">Show all events</a>
        </span></div>
    </div>

    {# Event rendering is data-driven: each event_type maps to an EventDescriptor
       in event_registry.py, and render_event() produces the same <li> the old
       ~50-branch if/elif chain did. #}
    <ul class="event_list">
        {% for event in events %}{{ render_event(event, links) }}{% endfor %}
    </ul>
</div>

<center>
    <a class="button" href="#index">Return to Top</a>
    {% if is_filtered_page %}
    <a class="button" href={{url_for("history_page", game_id=game_name)}}>Clear event filters</a>
    {% endif %}
</center>
{% endfor %}

<script src="{{ url_for('static', filename='toggle_visibility.js') }}"></script>

{% endblock %}
