{% extends "layout.html" %}
{% block body %}

<a class="button" href={{url_for("/timeline/", game_name=game_name)}}>Go to Timeline</a>
<h1> History Ledger of {{country}}</h1>

<div class="toc">
    <h2>Contents</h2>
    <a href="#wars">Wars</a>
    <ul>
        {% for war in wars %}
        <li class="toc-item"><a href=#{{war["id"]}}>{{ war["start"] }} - {{ war["end"] }}: {{war["name"]}}</a></li>
        {% endfor %}
    </ul>
    <a href="#leaders">Leaders</a>
    <ul>
        {% for leader in leaders %}
        <li class="toc-item"><a href=#{{leader["id"]}}>{{leader["class"]}} {{leader["name"]}}</a></li>
        {% endfor %}
    </ul>
</div>

<hr>
<a name="wars"></a>
<h2>Wars</h2>
{% for war in wars %}
<div class="war-box">
    <a name={{war["id"]}}></a>
    <h3 class="war-header">{{ war["name"] }} ({{ war["start"] }} - {{ war["end"] }}) </h3>
    <h4>Attackers:</h4>
    <ul>
        {% for country in war["attackers"] %}
        <li class="eventtext">{{country}}</li>
        {% endfor %}
    </ul>
    <h4>Defenders:</h4>
    <ul>
        {% for country in war["defenders"] %}
        <li class="eventtext">{{country}}</li>
        {% endfor %}
    </ul>
    <h4>Combat Log: </h4>
    <ul>
        {% for engagement in war["combat"] %}
        <li class="eventtext">{{engagement}}</li>
        {% endfor %}
    </ul>
</div>
{% endfor %}
<a class="button" href="#index">Return to Table of Contents</a>

<hr>
<a name="leaders"></a>
<h2>Leaders</h2>
{% for leader in leaders %}
<a name={{leader["id"]}}></a>
<div class="leader-box">
    <h3 class="leader-header">{{leader["class"]}} {{leader["name"]}}</h3>
    <h5>Basic Information:</h5>
    <ul class="basicLeaderInfoList">
        <li class="eventtext">Species: {{leader["species"]}}</li>
        <li class="eventtext">Born: {{leader["birthday"]}}</li>
        <li class="eventtext">Hired: {{leader["date_hired"]}}</li>
        <li class="eventtext">Status: {{leader["status"]}}</li>
    </ul>
    <h5>Achievements:</h5>
    <ul class="achievementList">
        {% for achievement in leader["achievements"] %}
        <li class="eventtext"> {{achievement}}</li>
        {% endfor %}
    </ul>
</div>
{% endfor %}
<a class="button" href="#index">Return to Table of Contents</a>

{% endblock %}
