{% extends "layout.html" %}
{% block body %}

<a class="button" href={{url_for("/timeline/", game_name=game_name)}}>Go to Timeline</a>
<h1> {{page_title}} </h1>

{% if is_filtered_page %} <a class="button" href={{url_for("history_page", game_id=game_name)}}>Remove event filters</a>

{% else %}
<div class="ledgerbox">
    <h2>Contents</h2>
    {% if wars %}
    <a href="#wars">Wars</a>
    <ul>
        {% for war in wars %}
        <li class="toc-item"><a href={{"#war_{}".format(war["war"].war_id)}}>{{ war["start"] }} - {{ war["end"] }}: {{war["war"].name}}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    <a href="#events">Countries</a>
    <ul>
        {% for country in events %}
        <li class="toc-item"><a href=#country_{{ country.country_id }}>{{country.country_name}}</a></li>
        {% endfor %}
    </ul>
</div>
<hr>
{% endif %}

{% if wars %}
<a name="wars"></a>
<h1>Wars</h1>
{% for war in wars %}
<div class="ledgerbox">
    <a name={{"war_{}".format(war["war"].war_id)}}></a>
    <h2 class="war-header">{{ war["war"].name }} ({{ war["start"] }} - {{ war["end"] }}) </h2>
    <h4>Attackers:</h4>
    <ul>
        {% for wp in war["attackers"] %}
        <li class="eventitem">{{links[wp["country"]]|safe}}: "{{wp["wp"].war_goal}}" war goal</li>
        {% endfor %}
    </ul>
    <h4>Defenders:</h4>
    <ul>
        {% for wp in war["defenders"] %}
        <li class="eventitem">{{links[wp["country"]]|safe}}: "{{wp["wp"].war_goal}}" war goal</li>
        {% endfor %}
    </ul>
    {% if war["combat"] %}
    <h4>Combat Log: </h4>
    <ul>
        {% for engagement in war["combat"] %}
        <li class="eventitem">{{engagement}}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<center><a class="button" href="#index">Return to Table of Contents</a></center>
{% endfor %}
<hr>
{% endif %}

<a name="events"></a>
<h1>History</h1>

{% for (country, events) in events.items() %}
<a name=country_{{country.country_id}}></a>
<div class="ledgerbox">
    <h2 class="leader-header"><a href={{url_for("history_page", game_id=game_name, country=country.country_id)}}> {{ country.country_name }}</a></h2>
    <ul class="event_list">
    {% for (key, value) in country_details[country].items() %}
        <li class="eventitem">
            <div class="countrydetails">
                <span class="countrydetailskey">{{key}}:</span> <span class="countrydetailsvalue">{{value}}</span>
            </div>
        </li>
    {% endfor %}
    </ul>

    <span>Toggle Event Types:
            <a class="button vis_toggle" href="#country_{{country.country_id}}" onclick="toggle_visibility('researched_technology');">Technologies</a>
            <a class="button vis_toggle" href="#country_{{country.country_id}}" onclick="toggle_visibility('edict');">Edicts</a>
            <a class="button vis_toggle" href="#country_{{country.country_id}}" onclick="toggle_visibility('tradition');">Traditions</a>
            <a class="button vis_toggle" href="#country_{{country.country_id}}" onclick="toggle_visibility('ascension_perk');">Ascensions</a>
            <a class="button vis_toggle" href="#country_{{country.country_id}}" onclick="toggle_visibility('leader_recruited');">Leader Recruitment</a>
            <a class="button vis_toggle" href="#country_{{country.country_id}}" onclick="toggle_visibility('colonization');">Colonizations</a>
            <a class="button vis_toggle" href="#country_{{country.country_id}}" onclick="toggle_visibility('first_contact');">First Contact</a>
    </span>

    <ul class="event_list">
        {% for event in events %}
        {% if event["event_type"] == "ruled_empire" %}
        <li class="eventitem ruled_empire">
            <div class="eventdescription">
                <span class="dateblock">{{event["start_date"]}} - {{event["end_date"]}}:</span>
                <span class="eventtext">
                            {{links[event["leader"]]|safe}} ruled the {{links[event["country"]]|safe}}.
                        </span>
            </div>
        </li>
        {% elif event["event_type"] == "colonization" %}
        <li class="eventitem colonization">
            <div class="eventdescription">
                <span class="dateblock">{{event["start_date"]}} - {{event["end_date"]}}:</span>
                <span class="eventtext">
                            Colonization of planet "{{event["planet"].get_name()}}" in the {{links[event["system"]]|safe}}
                            system{% if "leader" in event%} under Governor {{links[event["leader"]]|safe}}{% endif %}.
                         </span>
            </div>
        </li>
        {% elif event["event_type"] == "researched_technology" %}
        <li class="eventitem researched_technology">
            <div class="eventdescription">
                <span class="dateblock">{{event["start_date"]}}:</span>
                <span class="eventtext">
                    {% if "leader" in event %}Scientist {{links[event["leader"]]|safe}}{% else %}{{links[event["country"]]|safe}}{% endif %}
                    researched the "{{event["description"]}}" technology.
                 </span>
            </div>
        </li>
        {% elif event["event_type"] == "governed_sector" %}
        <li class="eventitem governed_sector">
            <div class="eventdescription">
                <span class="dateblock">{{event["start_date"]}} - {{event["end_date"]}}:</span>
                <span class="eventtext">
                    Governor {{links[event["leader"]]|safe}} governed the {{event["description"]}} sector{% if "planet" in event %}
                    from planet "{{ event["planet"].get_name() }}" in the {{links[event["system"]]|safe}} system{%endif%}.
                 </span>
            </div>
        </li>
        {% elif event["event_type"] == "edict" %}
        <li class="eventitem edict">
            <div class="eventdescription">
                <span class="dateblock">{{event["start_date"]}} - {{event["end_date"]}}:</span>
                <span class="eventtext">
                    {% if "leader" in event %}{{links[event["leader"]]|safe}}{% else %}{{links[event["country"]]|safe}}{% endif %}
                    enacted the "{{event["description"]}}" edict.
                 </span>
            </div>
        </li>
        {% elif event["event_type"] == "ascension_perk" %}
        <li class="eventitem ascension_perk">
            <div class="eventdescription">
                <span class="dateblock">{{event["start_date"]}}:</span>
                <span class="eventtext">
                    Ruler {{links[event["leader"]]|safe}} ascended the {{links[event["country"]]|safe}} with "{{event["description"]}}".
                 </span>
            </div>
        </li>
        {% elif event["event_type"] == "government_reform" %}
        <li class="eventitem government_reform">
            <div class="eventdescription">
                <span class="dateblock">{{event["start_date"]}}:</span>
                <span class="eventtext">
                    {% if "leader" in event %}Ruler {{links[event["leader"]]|safe}} reformed the {% endif %}
                    {{links[event["country"]]|safe}} government: {{event["description"]}}
                 </span>
            </div>
        </li>
        {% elif event["event_type"] == "tradition" %}
        <li class="eventitem tradition">
            <div class="eventdescription">
                <span class="dateblock">{{event["start_date"]}}:</span>
                <span class="eventtext">
                    Ruler {{links[event["leader"]]|safe}} adopted the "{{ event["description"]}}" tradition.
                 </span>
            </div>
        </li>
        {% elif event["event_type"] == "faction_leader" %}
        <li class="eventitem faction_leader">
            <div class="eventdescription">
                <span class="dateblock">{{event["start_date"]}} - {{event["end_date"]}}:</span>
                <span class="eventtext">
                    {{ event.leader.leader_class }} {{links[event["leader"]]|safe}} was leader of the "{{ event.faction.faction_name}}" faction.
                 </span>
            </div>
        </li>
        {% elif event["event_type"] == "first_contact" %}
        <li class="eventitem first_contact">
            <div class="eventdescription">
                <span class="dateblock">{{event["start_date"]}}:</span>
                <span class="eventtext">
                    {% if "leader" in event %} Under the rule of {{links[event["leader"]]|safe}}, {% endif %}{{ links[event["country"]] | safe }}
                    made first contact with {{ links[event["target_country"]] | safe }}.
                 </span>
            </div>
        </li>
        {% elif event["event_type"] == "rivalry_declaration" %}
        <li class="eventitem rivalry_declaration">
            <div class="eventdescription">
                <span class="dateblock">{{event["start_date"]}} - {{event["end_date"]}}:</span>
                <span class="eventtext">
                    {% if "leader" in event %} Under the rule of {{links[event["leader"]]|safe}}, {% endif %}{{ links[event["country"]] | safe }}
                    declared rivalry against {{ links[event["target_country"]] | safe }}.
                 </span>
            </div>
        </li>
        {% elif event["event_type"] == "defensive_pact" %}
        <li class="eventitem defensive_pact">
            <div class="eventdescription">
                <span class="dateblock">{{event["start_date"]}} - {{event["end_date"]}}:</span>
                <span class="eventtext">
                    {% if "leader" in event %} Under the rule of {{links[event["leader"]]|safe}}, {% endif %}{{ links[event["country"]] | safe }}
                    entered a defensive pact with {{ links[event["target_country"]] | safe }}.
                </span>
            </div>
        </li>
        {% elif event["event_type"] == "non_aggression_pact" %}
        <li class="eventitem non_aggression_pact">
            <div class="eventdescription">
                <span class="dateblock">{{event["start_date"]}} - {{event["end_date"]}}:</span>
                <span class="eventtext">
                    {% if "leader" in event %} Under the rule of {{links[event["leader"]]|safe}}, {% endif %}{{ links[event["country"]] | safe }}
                    entered a non-aggression pact with {{ links[event["target_country"]] | safe }}.
                 </span>
            </div>
        </li>
        {% elif event["event_type"] == "formed_federation" %}
        <li class="eventitem formed_federation">
            <div class="eventdescription">
                <span class="dateblock">{{event["start_date"]}} - {{event["end_date"]}}:</span>
                <span class="eventtext">
                    {% if "leader" in event %} Under the rule of {{links[event["leader"]]|safe}}, {% endif %}{{ links[event["country"]] | safe }}
                    formed a federation with {{ links[event["target_country"]] | safe }}.
                 </span>
            </div>
        </li>
        {% elif event["event_type"] == "habitat_ringworld_construction" %}
        <li class="eventitem habitat_ringworld_construction">
            <div class="eventdescription">
                <span class="dateblock">{{event["start_date"]}}:</span>
                <span class="eventtext">
                    Finished construction of {{ event["description"] }} in the {{links[event["system"]]|safe}} system{% if "leader" in event %},
                    under Governor {{links[event["leader"]]|safe}}{% endif %}.
                 </span>
            </div>
        </li>
        {% elif event["event_type"] == "leader_recruited" %}
        <li class="eventitem leader_recruited">
            <div class="eventdescription">
                <span class="dateblock">{{event["start_date"]}}:</span>
                <span class="eventtext">
                    The {{links[event["country"]]|safe}} recruited {{ event.leader.leader_class }} {{links[event["leader"]]|safe}}.
                 </span>
            </div>
        </li>
        {% elif event["event_type"] == "sector_creation" %}
        <li class="eventitem sector_creation">
            <div class="eventdescription">
                <span class="dateblock">{{event["start_date"]}}:</span>
                <span class="eventtext">
                    Created the {{ event["description"] }} sector
                    {% if "leader" in event %} under Ruler {{links[event["leader"]]|safe}}{% endif %}{% if "planet" in event %}
                    with capital on planet "{{ event["planet"].get_name() }}" in the {{links[event["system"]]|safe}} system{% endif %}.
                </span>
            </div>
        </li>
        {% elif event["event_type"] == "new_faction" %}
        <li class="eventitem new_faction">
            <div class="eventdescription">
                <span class="dateblock">{{event["start_date"]}}:</span>
                <span class="eventtext">
                    The "{{ event.faction.faction_name}}", a new {{ event.faction.ethics }} faction, emerged in the {{links[event["country"]]|safe}}.
                </span>
            </div>
        </li>
        {% elif event["event_type"] == "war" %}
        <li class="eventitem war">
            <div class="eventdescription">
                <span class="dateblock">{{event["start_date"]}}:</span>
                <span class="eventtext">
                    {% if "leader" in event %} Under the rule of {{links[event["leader"]]|safe}}, the {% endif %}{{ links[event["country"]] | safe }}
                    entered the "<a class="textlink" href={{"#war_{}".format(event['war'].war_id)}}>{{event["war"].name}}</a>" conflict.
                </span>
            </div>
        </li>
        {% elif event["event_type"] == "peace" %}
        <li class="eventitem peace">
            <div class="eventdescription">
                <span class="dateblock">{{event["start_date"]}}:</span>
                <span class="eventtext">
                    {% if "leader" in event %} Under the rule of {{links[event["leader"]]|safe}}, the {% endif %}{{ links[event["country"]] | safe }}
                    negotiated peace in the "<a class="textlink" href={{"#war_{}".format(event['war'].war_id)}}">{{event["war"].name}}</a>" conflict.
                </span>
            </div>
        </li>
        {% elif event["event_type"] == "discovered_new_system" %}
        <li class="eventitem peace">
            <div class="eventdescription">
                <span class="dateblock">{{event["start_date"]}}:</span>
                <span class="eventtext">
                    Discovered the new {{ links[event["system"]] | safe}} system.
                </span>
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
<center><a class="button" href="#index">Return to Top</a></center>
{% endfor %}

<script src="{{ url_for('static', filename='toggle_visibility.js') }}"></script>

{% endblock %}
