{% extends "layout.html" %}
{% block body %}

<a class="button" href={{url_for("/timeline/", game_name=game_name)}}>Go to Timeline</a>
<h1> {{page_title}} </h1>

<div class="toc">
    <a class="button" href={{url_for("history_page", game_id=game_name)}}>Go to full event ledger</a>
    <h2>Contents</h2>
    {% if wars %}
    <a href="#wars">Wars</a>
    <ul>
        {% for war in wars %}
        <li class="toc-item"><a href=#{{war["id"]}}>{{ war["start"] }} - {{ war["end"] }}: {{war["name"]}}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    <a href="#leaders">Countries</a>
    <ul>
        {% for country in events %}
        <li class="toc-item"><a href=#country_{{ country.country_id }}>{{country.country_name}}</a></li>
        {% endfor %}
    </ul>
</div>

<hr>
{% if wars %}
<a name="wars"></a>
<h2>Wars</h2>
{% for war in wars %}
<div class="war-box">
    <a name={{war["id"]}}></a>
    <h3 class="war-header">{{ war["name"] }} ({{ war["start"] }} - {{ war["end"] }}) </h3>
    <h4>Attackers:</h4>
    <ul>
        {% for country in war["attackers"] %}
        <li class="eventtext">{{country}}</li>
        {% endfor %}
    </ul>
    <h4>Defenders:</h4>
    <ul>
        {% for country in war["defenders"] %}
        <li class="eventtext">{{country}}</li>
        {% endfor %}
    </ul>
    <h4>Combat Log: </h4>
    <ul>
        {% for engagement in war["combat"] %}
        <li class="eventtext">{{engagement}}</li>
        {% endfor %}
    </ul>
</div>
{% endfor %}
<a class="button" href="#index">Return to Table of Contents</a>
{% endif %}

<hr>
<a name="events"></a>
<h2>History</h2>
{% for (country, events) in events.items() %}
    <a name=country_{{country.country_id}}></a>
    <div class="leader-box">
        <h3 class="leader-header">{{country.country_name}}</h3>
        <ul class="achievementList">
            {% for event in events %}
                {% if event["event_type"] == "ruled_empire" %}
                    <li class="eventtext"> {{event["start_date"]}} - {{event["end_date"]}}:
                        {{links[event["leader"]]|safe}} ruled the {{links[event["country"]]|safe}}
                {% endif %}
                {% if event["event_type"] == "colonization" %}
                    <li class="eventtext"> {{event["start_date"]}} - {{event["end_date"]}}:
                        Colonization of planet "{{event["planet"].get_name()}}" in the {{links[event["system"]]|safe}}
                        system{% if "leader" in event%} under Governor {{links[event["leader"]]|safe}}{% endif %}.
                    </li>
                {% endif %}
                {% if event["event_type"] == "researched_technology" %}
                    <li class="eventtext"> {{event["start_date"]}}:
                        Scientist {{links[event["leader"]]|safe}} researched the {{event["description"]}} technology.
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <a class="button" href="#index">Return to Table of Contents</a>
{% endfor %}

{% endblock %}
