<!doctype html>
<title>Stellaris Dashboard</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style_dark.css') if dark_mode else url_for('static', filename='style.css')}}">
<div class=page>
    <div class=metanav>
        <a name="index"></a>
        <a class="button" href="/">Go to Game Selection</a>
        <a class="button" href="/settings/">Dashboard Settings</a>
        {%if show_old_version_notice%}
        <p>
            You may be using an old version of the stellaris dashboard program. You are using version {{ version }}, and the requested version was {{ update_version_id }}.
            You can get the most current version <a href=https://github.com/eliasdoehne/stellaris-dashboard class="textlink">on Github.</a>

            This update notice can be disabled in the <a href="/settings/" class="textlink">Dashboard Settings</a>.
        </p>
        {%endif%}
        {% block body %}{% endblock %}
        <a class="button" href="/">Go to Game Selection</a>
    </div>
</div>

